* {
  box-sizing: border-box;
}
*:focus {
  outline: none;
}
* a:active {
  color: #bfbdbd;
}
.header {
  background-color: #ffffff;
}
.logo a {
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 165px;
  height: 51px;
  background: url(../img/logo.png) no-repeat 0px 0px;
}
.logo span:after {
  content: "d";
  font-style: normal;
  color: #f16d7f;
  font-weight: 700;
}
.logo span {
  color: #222222;
  font-family: Lato;
  font-size: 27px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 300;
  font-style: unset;
  letter-spacing: -0.32px;
}
body {
  margin: 0;
}
.main {
  display: flex;
  flex-direction: column;
}
.wrap {
  max-width: 1170px;
  margin: 0 auto;
  padding: 25px 15px 24px 15px;
}
.wrap-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
.wrap-nav {
  padding: 0;
  align-items: center;
  display: flex;
  justify-content: center;
}
.wrap-menu {
  justify-content: space-between;
  display: flex;
}
.wrap-offer {
  display: flex;
  padding: 0;
}
.wrap-fon {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.wrap-foter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 458px;
}
.wrap-adress {
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
}
.search {
  margin-right: 251px;
}
.search form {
  display: flex;
  border-radius: 0 3px 3px 0;
  background-color: #ffffff;
}
.search ul {
  list-style-type: none;
  padding-left: 15px;
  margin: 0;
}
.search ul:last-child {
  padding-bottom: 22px;
}
.search hr {
  margin: 0;
  margin-bottom: 5px;
  width: 150px;
  border: 1px solid #e8e8e8;
}
.search a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 87px;
  height: 38px;
}
.search .drop {
  position: relative;
  width: 87px;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  cursor: pointer;
  line-height: 35px;
  height: 38px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #cdcdcc;
  background-image: linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
}
.search .drop:hover {
  background-image: none;
  background-color: #f16d7f;
  color: #fff;
}
.search .drop:hover::after {
  color: #fff;
}
.search .drop:hover .drop-modal {
  transform: scaleY(1);
  transition-duration: 400ms;
}
.search .drop:after {
  content: "▶";
  display: inline-block;
  transform: rotate(90deg);
  color: #838383;
}
.search .color-ico {
  color: #a4a4a4;
}
.search .search-input {
  padding: 10px;
  width: 280px;
  height: 38px;
  border: 1px solid #e6e6e6;
  background-color: #ffffff;
}
.search .search-input:focus + .search-submit {
  background-color: #ffa104;
  color: #fff;
}
.search .search-input:focus + .search-submit .color-ico {
  color: #fff;
}
.search .search-submit {
  border-radius: 0 3px 3px 0;
  width: 32px;
  height: 38px;
  background-color: #fff;
  border: 1px solid #e6e6e6;
  cursor: pointer;
}
.search .search-submit:active {
  background-color: #d2303059;
  color: #fff;
}
.drop-modal {
  border: 1px solid #e6e6e6;
  transform-origin: top;
  transform: scaleY(0);
  text-align: left;
  position: absolute;
  min-width: 210px;
  border-radius: 5px;
  background-color: #ffffff;
}
.drop-modal li {
  padding-left: 5px;
  cursor: pointer;
  color: #232323;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  height: 26px;
}
.drop-modal li:hover {
  color: #676565;
}
.drop-nav {
  display: flex;
  padding: 10px;
  top: 152px;
}
.drop-nav ul:first-child {
  padding-left: 10px;
}
.drop-nav .drop-ul {
  list-style-type: none;
  padding-left: 25px;
  margin: 0;
  display: block;
}
.drop-nav .drop-ul ul {
  padding-left: 0;
}
.drop-nav .drop-ul li:first-child {
  padding-bottom: 30px;
}
.drop-nav .drop-ul img {
  width: 231px;
}
.drop-nav hr {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 13px;
  width: 235px;
  border: 1px solid #e8e8e8;
}
.drop-nav .drop-ul a {
  padding: 0;
}
.drop-nav .drop-ul a:hover {
  border-bottom: none;
}
.fas-color {
  transform: rotate(90deg);
  display: block;
}
.account {
  display: flex;
  position: relative;
}
.account .cart {
  cursor: pointer;
  background-color: #fff;
  border: none;
  width: 32px;
  height: 39px;
  margin-right: 28px;
}
.account .cart:focus + .modal-account {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  transform: scaleY(1);
  transition-duration: 500ms;
}
.account .botton-account {
  cursor: pointer;
  text-align: center;
  line-height: 35px;
  background-color: #f16d7f;
  width: 138px;
  height: 38px;
  color: #ffffff;
  font-family: Lato;
  font-size: 15px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.38px;
}
.account .botton-account:after {
  content: "▶";
  display: inline-block;
  transform: rotate(90deg);
  color: #fff;
}
.account .botton-account p {
  font-size: 12px;
  display: inline;
  margin: 0;
  color: #c0c0c0;
}
.modal-account {
  z-index: 1;
  min-height: 473px;
  transform: scaleY(0);
  transform-origin: top;
  width: 262px;
  height: 440px;
  top: 53px;
  border-radius: 5px;
  background-color: #ffffff;
  left: -13px;
  position: absolute;
  cursor: auto;
}
.modal-account:hover {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
  transform: scaleY(1);
  transition-duration: 500ms;
}
.modal-account ico {
  margin: 0;
  color: #c0c0c0;
  cursor: pointer;
}
.modal-account ico:hover {
  color: #f16d7f;
}
.modal-account hr {
  width: 229px;
  height: 1px;
  border: 1px solid #ededed;
}
.modal-account h2 {
  color: #222222;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-align: left;
}
.modal-account .many-acc {
  display: flex;
  justify-content: space-around;
  margin-bottom: 15px;
}
.modal-account .button-acc {
  margin-left: 20px;
  margin-bottom: 10px;
  width: 225px;
  height: 50px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  text-decoration: none;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 50px;
  color: #4a4a4a;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
}
.modal-account .button-acc:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.block-modal-acc {
  margin-top: 21px;
  margin-bottom: 21px;
  justify-content: space-around;
  display: flex;
  align-items: center;
}
.block-modal-acc .info-acc {
  line-height: 26px;
  text-align: left;
}
.block-modal-acc .info-acc h2 {
  font-family: Lato;
  font-size: 12px;
  margin: 0;
  font-weight: 700;
  color: #222222;
  text-transform: uppercase;
  display: inline;
}
.block-modal-acc .info-acc i {
  display: inline;
  color: gold;
  font-size: 10px;
}
.block-modal-acc .info-acc p {
  margin: -1px 0px;
}
.nav {
  border: 1px solid #e6e6e6;
}
.nav ul {
  list-style-type: none;
  display: flex;
}
.nav li a {
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
  text-decoration: none;
  padding: 15px 20px;
}
.nav li a:hover {
  border-bottom: 3px solid #ef5b70;
}
.nav li a[active] {
  border-bottom: 3px solid #ef5b70;
}
.nav li:hover .drop-modal {
  transform: scaleY(1);
}
.page {
  background-color: #e8e8e8;
}
.page .wrap-page {
  background: url(../img/baner.jpg) no-repeat center 0;
  height: 613px;
  display: flex;
  align-items: center;
}
.page .text {
  border-left: 12px solid #f16d7f;
  padding-left: 6px;
  height: 102px;
  animation: goStep 3s;
}
@keyframes goStep {
  0% {
    margin-left: -631px;
  }
  90% {
    margin-left: 0px;
  }
}
.page .brand {
  font-size: 60px;
  font-weight: 900;
  line-height: 46px;
  font-family: 'Lato', sans-serif;
}
.page p {
  margin: 0;
  line-height: 65px;
  color: #222222;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-style: normal;
  letter-spacing: 1px;
}
.baner li:hover {
  transform: scale(1.1);
  transition-delay: 300ms;
  transition-duration: 500ms;
  cursor: pointer;
}
.baner ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  max-height: 900px;
}
.baner li:nth-child(1) {
  background: url(../img/banner/1.png) no-repeat 0px -64px;
  height: 495px;
  margin-right: 20px;
}
.baner li:nth-child(2) {
  background: url(../img/banner/2.png) no-repeat 0px 0px;
  height: 261px;
}
.baner li:nth-child(3) {
  background: url(../img/banner/3.png) no-repeat 0px 0px;
  height: 279px;
}
.baner li:nth-child(4) {
  background: url(../img/banner/4.png) no-repeat 0px -64px;
  height: 542px;
  justify-content: flex-end;
  align-items: flex-end;
}
.baner li {
  text-decoration: none;
  transition: 300ms;
}
.baner li .text-banner {
  padding: 15px;
  max-width: 220px;
  min-height: 83px;
  background-color: #ffffff;
  display: inline-block;
  margin-top: 26px;
}
.baner li .text-banner h2 {
  margin: 0;
  color: #222222;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 600;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
}
.baner li .text-banner p {
  font-weight: 900;
  text-decoration: none;
  margin: 0;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.45px;
  text-transform: uppercase;
  color: #f16d7f;
  font-size: 30px;
  font-style: normal;
  letter-spacing: 0.75px;
}
.product h2 {
  color: #222222;
  font-family: Lato;
  font-size: 30px;
  font-weight: 700;
  letter-spacing: normal;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.75px;
}
.product p {
  color: #9f9f9f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: normal;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.35px;
}
.product ul {
  list-style-type: none;
  display: flex;
  padding: 0;
  flex-wrap: wrap;
  justify-content: center;
}
.product li {
  margin-right: 28px;
  margin-bottom: 39px;
}
.product li:nth-child(4n) {
  margin-right: 0px;
  margin-bottom: 39px;
}
.product-li {
  width: 264px;
  height: 364px;
  transition: 300ms;
  position: relative;
}
.product-li h3 {
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-weight: 600;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
}
.product-li p {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
}
.product-li:hover {
  box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  transform: scale(1.1);
  transition-duration: 300ms;
  cursor: pointer;
  display: block;
}
.product-li:hover:hover .product-li-wrap {
  transform: scaleX(1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.88, 0.02, 1, 1.03);
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  height: 77%;
}
.botten {
  margin: 0 auto;
  background: url(../img/product/ico_.png) no-repeat 183px 22px;
  display: block;
  cursor: pointer;
  width: 212px;
  height: 48px;
  background-color: #f16d7f;
  line-height: 47px;
  color: #ffffff;
  font-family: Lato;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: normal;
  text-align: center;
  font-style: normal;
  letter-spacing: 0.4px;
}
.botten:hover {
  background-color: #e06777;
}
.discount .offer {
  background: url(../img/Image.png) no-repeat 0px 0px;
  width: 767px;
  padding: 146px 0px 0px 39px;
  height: 529px;
}
.discount .offer h2 {
  color: #ffffff;
  margin: 0;
  font-family: Lato;
  font-size: 54px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  text-transform: uppercase;
}
.discount .offer p {
  margin: 0;
  color: #ffffff;
  letter-spacing: 1.5px;
  font-size: 32px;
  font-style: normal;
  font-family: Lato;
  letter-spacing: 0.9px;
}
.discount .block {
  width: 375px;
  background-color: #222224;
}
.block h2 {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: normal;
  text-align: left;
  font-style: normal;
  letter-spacing: 0.5px;
}
.block p {
  color: #fbfbfb;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: normal;
  text-align: left;
  font-style: normal;
  letter-spacing: 0.35px;
}
.block-text-1 {
  background: url(../img/ico/1.png) no-repeat;
  padding-top: 29px;
  background-position: 22px center;
  padding-left: 96px;
  align-self: flex-start;
}
.block-text-1 p {
  width: 219px;
}
.block-text-2 {
  background: url(../img/ico/2.png) no-repeat;
  padding-left: 96px;
  background-position: 22px center;
  align-self: flex-start;
  padding-top: 29px;
}
.block-text-2 p {
  width: 219px;
}
.block-text-3 {
  background: url(../img/ico/3.png) no-repeat;
  padding-left: 96px;
  background-position: 22px center;
  padding-top: 29px;
  align-self: flex-start;
}
.block-text-3 p {
  width: 219px;
}
.wrap-offer {
  display: flex;
}
.wrap-navbar {
  align-items: center;
  min-height: 148px;
  display: flex;
  justify-content: space-between;
}
.navbar {
  min-height: 65px;
  background-color: #f8f3f4;
}
.navbar .nav-text {
  align-items: center;
  /* min-height: 148px; */
  display: flex;
  color: #f16d7f;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
}
.navbar .breadcrumb {
  list-style-type: none;
  display: flex;
  justify-content: flex-end;
}
.navbar .breadcrumb li:nth-child(1)::after,
.navbar .breadcrumb li:nth-child(2)::after {
  content: "/";
  padding: 0px 2px 0px 2px;
}
.navbar .breadcrumb .active {
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  text-align: center;
  text-transform: uppercase;
}
.navbar a {
  text-decoration: none;
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  text-align: center;
  text-transform: uppercase;
  color: #636363;
  font-family: "Lato Light";
  font-weight: 300;
  font-family: "Lato";
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
}
.category {
  width: 243px;
}
.category details {
  margin-bottom: 18px;
}
.category summary {
  cursor: pointer;
  padding: 15px;
  border-left: 6px solid;
  display: flex;
  justify-content: space-between;
  color: #ef5b70;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
  font-style: normal;
  letter-spacing: normal;
}
.category summary::-webkit-details-marker {
  display: none;
}
.category details summary::after {
  content: "▲";
  transform: rotate(90deg);
}
.category details[open] summary::after {
  content: "▲";
  transform: none;
}
.category .category-link {
  list-style-type: none;
  padding-left: 20px;
}
.category .category-link li {
  padding-bottom: 10px;
  font-family: Lato;
  font-size: 14px;
  cursor: pointer;
}
.category .category-link li:hover {
  color: #898989;
}
.trending-link {
  display: flex;
  width: 847px;
  min-height: 75px;
  align-self: flex-start;
  margin-bottom: 41px;
}
.sort {
  width: 846px;
  min-height: 50px;
  align-self: center;
  background-color: #f3f3f3;
}
.sort select {
  cursor: pointer;
}
.product-right {
  width: 848px;
}
.product-ul {
  flex-wrap: wrap;
  list-style-type: none;
  padding: 0px;
  margin-top: 48px;
  display: flex;
}
.product-catalog {
  margin-right: 28px;
  margin-bottom: 28px;
}
.product-catalog:nth-child(3n) {
  margin-right: 0px;
}
.sort select {
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
  padding: 4px;
}
.sort {
  display: flex;
}
.sort p {
  margin-left: 10px;
  padding-left: 6px;
  color: #6f6e6e;
  display: inline-block;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  margin-right: 10px;
}
.block:nth-child(3) {
  margin-right: 0px;
}
.block {
  width: 238px;
}
.block label {
  cursor: pointer;
  margin-right: 13px;
  font-family: "Open Sans";
  font-size: 14px;
  font-weight: 400;
}
.block input {
  cursor: pointer;
}
.block span {
  width: 176px;
  display: inline-block;
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-align: left;
}
.block label {
  color: #6f6e6e;
}
.block h2 {
  color: #6f6e6e;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-align: left;
  text-transform: uppercase;
}
.block output {
  color: #6f6e6e;
}
.block .range {
  display: flex;
  justify-content: space-between;
  width: 262px;
}
.block .range p {
  color: #6f6e6e;
  margin: 0;
}
.page-block {
  display: flex;
  margin: 50px 0px;
  justify-content: space-between;
}
.page-block .pagination {
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  width: 261px;
}
.page-block ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.page-block li i {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.page-block li i:hover {
  color: #8c8b8b;
}
.page-block li a:hover {
  color: #8c8b8b;
}
.page-block li:first-child::after {
  content: "";
  background-image: url(../img/ico/angle-left-solid.svg);
  background-size: 30px, 30px;
}
.page-block a {
  text-decoration: none;
  color: #c4c4c4;
  font-family: Lato;
  font-size: 16px;
  font-weight: bold;
  text-align: left;
  margin: 5px;
}
.page-block .active {
  color: #ef5b70;
}
.page-block .fa-angle-right {
  color: #aaaaaa;
  margin-left: 5px;
}
.page-block .fa-angle-left {
  color: #aaaaaa;
  margin-right: 5px;
}
.view {
  border-radius: 3px;
  border: 1px solid #ef5b70;
  cursor: pointer;
  background-color: #ffffff;
  color: #ef5b70;
  font-family: Lato;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}
.view:hover {
  border: 1px solid #8e8889;
  color: #8e8889;
}
.discount .block-info {
  width: 1600px;
  display: flex;
  height: none;
}
.discount-info {
  background-color: #222224;
}
.block-wrap {
  margin-top: 89px;
  background-position: center top;
  padding-left: 0px;
  margin-right: 81px;
}
.block-wrap h2 {
  margin-top: 32px;
  text-align: center;
  text-transform: none;
  font-size: 20px;
  color: #fbfbfb;
}
.block-wrap p {
  width: 309px;
  margin-bottom: 114px;
  text-align: center;
}
.range-filter {
  width: 262px;
}
.range-controls {
  position: relative;
  height: 28px;
  padding-top: 10px;
  border-radius: 5px;
  z-index: -2;
}
.range-controls .scale {
  height: 2px;
  background-color: #f0f0f0;
}
.range-controls .bar {
  width: 43%;
  height: 2px;
  background-color: #f16d7f;
  margin-left: 10%;
}
.range-controls .toggle {
  position: absolute;
  top: 5px;
  left: 0;
  width: 14px;
  height: 14px;
  border: none;
  padding: 0;
  background-color: #f16d7f;
  border-radius: 50%;
  cursor: pointer;
}
.range-controls .toggle-min {
  left: 5%;
}
.range-controls .toggle-max {
  left: 51%;
}
.slaide {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 730px;
  border: 1px solid #eaeaea;
  background-color: #f7f7f7;
}
.slaid-left,
.slaid-right {
  font-size: 20px;
  width: 47px;
  height: 47px;
  background-color: #2a2a2a29;
  color: #fff;
  display: flex !important;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.cast {
  border: 1px solid #eaeaea;
  width: 1141px;
  margin: -53px auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  background-color: #fff;
  position: relative;
  z-index: 1;
  margin-bottom: 50px;
}
.cast h2 {
  color: #f16d7f;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 6px;
  border-bottom: 3px solid #ef5b70;
  margin-top: 73px;
}
.cast .block-cast {
  width: 470px;
  display: flex;
  margin: 1px 67px 1px 1px;
  justify-content: space-between;
}
.cast .block-cast h3 {
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
.cast .block-cast h3 font {
  color: #b9b9b9;
}
.cast span {
  color: #4d4d4d;
  font-family: 'Lato', sans-serif;
  font-size: 24px;
  text-transform: uppercase;
  font-weight: 800;
}
.cast p {
  margin-top: 67px;
  width: 618px;
  min-height: 60px;
}
.cast hr {
  width: 642px;
  height: 1px;
  margin-bottom: 53px;
  border: 1px solid #eaeaea;
  background-color: #ef5b70;
}
.fon {
  background: #e8e8e8 url(../img/fon.png) bottom no-repeat;
  background-size: cover;
}
.quote {
  padding: 101px 0px;
}
.quote img {
  float: left;
  margin-right: 28px;
}
.quote p {
  /* Style for "“Vestibulu" */
  min-height: 68px;
  color: #222224;
  font-family: Lato;
  font-size: 16px;
  font-style: italic;
  letter-spacing: normal;
  line-height: 26px;
  text-align: left;
  letter-spacing: 0.4px;
  overflow: hidden;
  width: 386px;
}
.quote h2 {
  color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  margin: 0;
  padding-left: 113px;
  font-weight: 700;
}
.quote span {
  padding-left: 113px;
  color: #222224;
  font-family: "Lato Light";
  font-size: 12px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0.3px;
  line-height: 14px;
}
.paginatiom {
  margin: 34px 65px;
}
.paginatiom ul {
  list-style-type: none;
  display: flex;
}
.paginatiom li {
  cursor: pointer;
  margin: 5px;
  border-bottom: 4px solid #d6d6d6;
  width: 38px;
}
.paginatiom li:hover {
  border-bottom: 4px solid #9e9b9b;
}
.paginatiom .active {
  border-bottom: 4px solid #f16d7f;
}
.subscribe {
  text-align: center;
  margin-right: 113px;
}
.subscribe p {
  font-size: 14px;
  font-family: Lato;
  font-weight: 400;
  text-transform: uppercase;
}
h2 {
  font-size: 24px;
  font-family: Lato;
  font-weight: 400;
  text-transform: uppercase;
}
.subscribe-search {
  display: flex;
}
.subscribe-search input {
  border-radius: 23px 0px 0px 23px;
  border: none;
  margin: 0;
  text-align: left;
  padding: 0px 25px 0px 25px;
  width: 282px;
  height: 46px;
  text-transform: none;
  opacity: 0.67;
  color: #222224;
  font-family: Lato;
  font-size: 14px;
  font-weight: 400;
  background-color: #e1e1e1;
}
.subscribe-search button {
  border: 1px solid #fff0;
  color: #fff;
  width: 104px;
  height: 46px;
  border-radius: 0 23px 23px 0;
  background-color: #f16d7f;
  cursor: pointer;
}
.subscribe-search button:hover {
  background-color: #e06777;
}
.footer-up {
  text-align: left;
}
.footer-up .block-footer-1 p {
  width: 407px;
  height: 180px;
  color: #898989;
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: left;
}
.footer-up ul {
  list-style-type: none;
  padding: 0;
}
.footer-up li {
  margin-bottom: 21px;
}
.footer-up li a {
  text-decoration: none;
  color: #898989;
  font-family: Lato;
  font-size: 16px;
  font-weight: 400;
}
.footer-up li a:hover {
  color: #585757;
}
.footer-up h2 {
  margin-bottom: 45px;
  font-family: Lato;
  font-size: 18px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 26px;
  text-align: left;
  text-transform: uppercase;
  color: #f16d7f;
}
.footer-up .logo {
  margin-bottom: 21px;
}
.footer-down {
  background-color: #e6e6e6;
}
.footer-down span {
  color: #7a7a7a;
  font-family: Lato;
  font-size: 16px;
  letter-spacing: 0.4px;
  font-weight: 400;
}
.footer-down .footer-ico {
  display: flex;
}
.footer-down a {
  margin-right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 32px;
  height: 32px;
  background-color: #ffffff;
  color: #b2b2b2;
  text-decoration: none;
}
.footer-down a:hover {
  background-color: #f16d7f;
  color: #fff;
}
.footer-down a:active {
  background-color: #ffffff59;
}
.wrap-product button {
  padding: 14px 20px;
  color: #4a4a4a;
  cursor: pointer;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 21px;
}
.wrap-product button:hover {
  border: 1px solid #f16d7f;
  color: #f16d7f;
}
.wrap-product h2 {
  font-family: Lato;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: -0.2px;
  margin-bottom: 38px;
  margin-top: 25px;
}
.wrap-product h2:nth-child(1) {
  margin-right: 395px;
}
.wrap-product span {
  font-family: Lato;
  font-size: 13px;
  font-weight: 600;
}
.wrap-product span font {
  font-weight: 300;
  color: #6c6565;
}
.wrap-product input {
  width: 54px;
}
.wrap-product input[placeholder="2"] {
  color: #656565;
}
.wrap-product .details-menu {
  display: flex;
  justify-content: space-between;
  min-height: 20px;
}
.wrap-product .details-product {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap-product .details-product p:nth-child(6) {
  color: #c0c0c0;
  margin-right: 15px;
}
.wrap-product .details-product p:nth-child(6):hover {
  color: #f16d7f;
  cursor: pointer;
}
.wrap-product .details-product p {
  color: #6c6565;
}
.wrap-product .block-product {
  width: 278px;
  margin-right: 218px;
}
.wrap-product img {
  float: left;
  margin-top: 22px;
  margin-bottom: 25px;
  margin-right: 22px;
}
.button-center {
  display: flex;
  justify-content: space-between;
  margin-top: 45px;
}
.block-adress h2 {
  font-size: 16px;
  font-weight: 700;
}
.block-adress select {
  color: #b1b1b1;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  padding: 0 17px;
  line-height: 45px;
}
.block-adress select,
.block-adress input {
  width: 355px;
  display: block;
  margin-bottom: 25px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}
.block-adress select[placeholder],
.block-adress input[placeholder],
.block-adress select option,
.block-adress input option {
  color: #b1b1b1;
  font-family: Lato;
  font-size: 13px;
  font-weight: 300;
  padding: 0 17px;
  line-height: 45px;
}
.block-adress .grand {
  width: 360px;
  height: 214px;
  background-color: #f5f3f3;
  text-align: right;
  padding: 29px 27px 0px 60px;
}
.block-adress .grand p {
  color: #4a4a4a;
  font-family: Lato;
  font-size: 11px;
  font-weight: 400;
  text-transform: uppercase;
}
.block-adress .grand font {
  color: #f16d7f;
}
.block-adress .grand a {
  text-transform: uppercase;
  width: 273px;
  line-height: 50px;
  display: block;
  text-align: center;
  color: #fff;
  text-decoration: none;
  height: 50px;
  background-color: #f16d7f;
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
}
.block-adress .grand a:hover {
  color: #f16d7f;
  outline: 1px solid #f16d7f;
  background-color: #ffffff;
}
.block-adress .grand hr {
  margin: 19px 2px;
  border: 1px solid #e2e2e2;
}
.block-adress .discount p {
  font-family: Lato;
  font-size: 14px;
  font-weight: 300;
}
.block-adress button {
  width: 118px;
  height: 35px;
  text-transform: uppercase;
  font-family: Lato;
  font-size: 11px;
  font-weight: 700;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  line-height: 33px;
  margin-bottom: 79px;
}
.block-adress button:hover {
  border: 1px solid #f16d7f;
  color: #f16d7f;
  cursor: pointer;
}
.many {
  color: #ef5b70;
  font-family: Lato;
  margin-bottom: 43px;
  font-size: 24px;
  font-weight: 700;
}
.block-select {
  display: flex;
  margin-bottom: 28px;
  width: 538px;
  justify-content: space-between;
}
.block-select .select,
.block-select input {
  color: #bcbcbc;
  display: flex;
  justify-content: space-around;
  font-family: Lato;
  padding-left: 10px;
  font-size: 13px;
  align-items: center;
  font-weight: 400;
  width: 144px;
  height: 35px;
  text-align: left;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  line-height: 33px;
}
.block-select .select::placeholder,
.block-select input::placeholder {
  color: #bcbcbc;
}
.block-select teg {
  width: 12px;
  height: 12px;
  background-color: #ef5b70;
  display: inline-block;
  margin-right: 10px;
}
.right {
  margin-left: 50px;
}
.bay {
  width: 537px;
  margin-bottom: 122px;
  color: #f16d7f;
  padding: 17px;
  text-decoration: none;
}
.bay i {
  margin-right: 15px;
}
.block-cast-1 {
  width: 371px!important;
  display: flex!important;
  margin: 0px 0px 0px 0px!important;
  justify-content: space-between !important;
}
.wrap-content h2 {
  font-family: Lato;
  font-size: 16px;
  font-weight: 700;
  margin-top: 33px;
  margin-bottom: 33px;
}
.wrap-content hr {
  margin: 0;
  width: 1140px;
  border: 1px solid #e8e8e8;
}
.wrap-content hr:last-child {
  margin-bottom: 70px;
}
.content {
  display: flex;
  justify-content: space-around;
}
.content .check {
  font-family: Lato;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
}
.content .convenience {
  color: #b3b2b2;
  font-family: Lato;
  font-size: 13px;
  margin-top: 4px;
  margin-bottom: 30px;
  font-weight: 400;
}
.content .text-box {
  font-family: Lato;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 5px;
  cursor: pointer;
}
.content .size {
  margin-left: 0px;
}
.content .fast {
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  color: #b3b2b2;
}
.content .submit {
  width: 180px;
  height: 50px;
  border: 1px solid #eaeaea;
  color: #4a4a4a;
  display: inline-block;
  text-transform: uppercase;
  text-align: center;
  line-height: 50px;
  cursor: pointer;
  font-family: Lato;
  font-size: 14px;
  font-weight: 700;
  margin-bottom: 70px;
  background-color: #ffffff;
  margin-right: 30px;
}
.content .submit:hover {
  color: #f16d7f;
  border: 1px solid #f16d7f;
}
.part-two input {
  width: 390px;
  padding: 0 10px;
  height: 45px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
}
.part-two .error {
  color: red;
  font-family: Lato;
  font-size: 13px;
  margin-bottom: 35px;
}
.part-two .forgot {
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  color: #222222;
  font-family: Lato;
}
.part-two .forgot:hover {
  color: #222222c7;
}
.black::type {
  background-color: black;
  color: black;
}
.h2-drop {
  color: #232323;
  font-family: Lato;
  font-size: 13px;
  font-weight: 400;
  margin: 0;
  cursor: auto;
  margin-top: 10px;
  padding-left: 15px;
}
.h2-drop + hr {
  margin-left: 15px;
}
.product-li-wrap {
  transform: scaleX(0);
  transform: 300ms;
  position: absolute;
}
.product-li-wrap a {
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  color: #fff;
  border: 3px solid #fff;
}
.product-li-wrap img {
  margin-right: 5px;
}
.drop-no {
  padding-left: 0;
}
.drop-no + hr {
  margin-left: 0;
}
.size-product {
  font-size: 24px !important;
  font-weight: 900 !important;
  color: #4d4d4d !important;
}
.wrap-product__ul {
  padding-top: 25px !important;
}
@media screen and (max-width: 1100px) {
  .search {
    margin-right: 0px;
  }
}
